body{
    background-color: pink;
}
#score{
    float: left;
    margin-left: 25px;
}
#timer{
    float: right;
    margin-right: 20px;
}
#sketch_update{
    color: blue;
    font-size: 30px;
}